<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Live input record and playback</title>
  <style type='text/css'>
    body { font-family:HelveticaNeue;background-color:#fff;}
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<h1>personality analytic</h1>

<form action="{{base_url}}personality/analytic" method="post">
  <textarea name="text"></textarea>
  <input type="submit" value="analytic">
</form>


<h2>Log</h2>
<pre id="log"></pre>

</body>
</html>
